---
layout: common
---
{%- assign blog_page = site.pages | where: "path", "blog.md" | first -%}

{%- if paginator.page == 1 and page.title %}
	{%- assign page_title = page.title -%}
{%- elsif blog_page.title -%}
	{%- assign page_title = blog_page.title -%}
{%- else -%}
	{%- assign page_title = false -%}
{% endif -%}

{%- if paginator.page == 1 and page.subtitle %}
	{%- assign page_subtitle = page.subtitle -%}
{%- elsif blog_page.subtitle -%}
	{%- assign page_subtitle = blog_page.subtitle -%}
{%- else -%}
	{%- assign page_subtitle = false -%}
{% endif -%}

{%- if page_title %}
<h2 class="page-title">{{ page_title }}</h2>
{% endif -%}

{%- if page_subtitle %}
<p class="page-subtitle">{{ page_subtitle }}</p>
{% endif -%}

{%- if paginator.page == 1 %}
<section id="front-page-intro">
	<div class="front-intro-content">

		{%- assign front_page = site.pages | where: "path", "front.md" | first -%}
		{{ front_page.content }}
	</div>
</section>
{% endif -%}

{%- assign posts = paginator.posts | default: site.posts %}
<ul class="posts-list" role="list">
{% for post in posts -%}

	{%- assign post_thumb = false -%}
	{%- capture post_thumb -%}
		{%- if post.page_thumb -%}
			{{ post.page_thumb }}
		{%- else -%}
			transparent-thumb.png
		{%- endif -%}
	{%- endcapture %}
	{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
	{%- if site.blog_view == "full" -%}
		{% include blog-full.html -%}
	{%- else -%}
		{%- include blog-preview.html -%}
	{%- endif -%}
{%- endfor -%}
</ul>

{% if paginator.total_pages > 1 %}
<nav class="page-pagination">
	<ul>
		{% if paginator.previous_page %}
		<li class="page-nav page-prev">
			<a href="{{ paginator.previous_page_path | absolute_url }}">Newer Posts</a>
		</li>
		{% endif %}
		{% if paginator.next_page %}
		<li class="page-nav page-next">
			<a href="{{ paginator.next_page_path | absolute_url }}">Older Posts</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
