{%- assign body_class = "default-page" -%}
{%- if page.layout == "index" -%}
	{%- capture body_class %}front-page{% endcapture -%}
{%- elsif page.layout == "blog" -%}
	{%- capture body_class %}blog-page{% endcapture -%}
{%- endif -%}

{%- assign page_type = "WebPage" -%}
{%- if page.page_type -%}
	{%- capture page_type %}{{ page.page_type }}{% endcapture -%}
{%- endif -%}

{%- if page.sidebar == false and paginator.page == 1 -%}
	{%- assign sidebar = false -%}
{%- elsif page.sidebar == false and paginator.page > 1 -%}
	{%- assign sidebar = true -%}
{%- elsif page.sidebar == false -%}
	{%- assign sidebar = false -%}
{%- else -%}
	{%- assign sidebar = true -%}
{%- endif -%}
<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">
{% include head.html -%}
<body class="{{ body_class }}">
<a class="skip-link screen-reader-text" href="#page-content">Skip to content</a>
	{% include site-header.html -%}
	<div class="page-container" itemscope="itemscope" itemtype="{{ page_type }}">
		<div id='{{ page.name | slugify | remove_last: "-md" }}' class="page-wrap">
			<main class="page-main" role="main" itemscope itemprop="mainContentOfPage">
				{{ content }}
			</main>
			{%- if sidebar -%}
			{% include site-sidebar.html -%}
			{%- endif -%}
		</div>
	</div>
	{% include site-footer.html -%}
</body>
</html>
